export AWS_ACCESS_KEY_ID=Your_Key_ID_Here
export AWS_SECRET_ACCESS_KEY=Your_Key_Secret_Here
export AWS_REGION=ru-central1
export CUSTOM_ENDPOINT="https://docapi.serverless.yandexcloud.net/ru-central1/Your_Cloud_ID_Here/database_id"
